.glow {
    font-family: Signika Negative;
    margin-left: 1rem;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 4px #e60073, 0 0 5px #e60073, 0 0 2px #e60073, 0 0 2px #e60073;

}


